name: First Action

on:
  push:
    branches:
      - main
      - test1
  workflow_dispatch:

jobs:
  test-name-job:

    runs-on: ubuntu-latest

    steps:
    
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Run with custom shell and directory
      run: |
        echo "Shell is bash"
        pwd
      shell: bash
      working-directory: .github
    
    - name: Conditional Check again advanced
      if: ${{github.actor == 'skandh1' && github.ref == 'refs/heads/main'}}
      run: echo "for me and also in main"


  matrix-job:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18, 20]
        os: [ubuntu-latest]

    steps:
      - name: Show matrix values
        run: |
          echo "Node version: ${{ matrix.node-version }}"
          echo "OS: ${{ matrix.os }}"
