name: First Action

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  test-job:
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v4

    - name: Show environment info
      run: |
        echo "Repository: $GITHUB_REPOSITORY"
        echo "Branch: $GITHUB_REF"
        echo "Triggered by: $GITHUB_ACTOR"
