name: First Action

on:
  push:
    branches:
      - main
      - test1
  workflow_dispatch:

jobs:
  hello-job:
    runs-on: ubuntu-latest

    outputs:
      job-result: ${{ steps.generate.outputs.result }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run a command
        env:
          MESSAGE: "This message is overridden at step level"
        run: echo "$MESSAGE"

      - name: Show current directory
        run: pwd

      - name: Generate output
        id: generate
        run: echo "result=success" >> $GITHUB_OUTPUT


  second_job:
    runs-on: ubuntu-latest
    needs: hello-job
    steps:
    - name: Read job output
      run: echo "Job result was ${{ needs.hello-job.outputs.job-result }}"
