name: First Action

on:
  push:
    branches:
      - main
      - test1
  workflow_dispatch:

jobs:
  test-name-job:

    runs-on: ubuntu-latest

    env: 
      MESSAGE: This is the message we are showing
    steps:

    - uses: actions/checkout@v4

    - name: Continue on error
      run: exit 1
      continue-on-error: true

    - name: Show environment info
      run: |
        echo "Repository: $GITHUB_REPOSITORY"
        echo "Branch: $GITHUB_REF"
        echo "Triggered by: $GITHUB_ACTOR"
    
    - name: Printing Env's
      run: echo "$MESSAGE"
    
    - name: Overriding Env
      env: 
        MESSAGE: Message no 1`
      run: echo "$MESSAGE"

    - name: Show current dir
      run: pwd
    
    - name: Runs only on the main branch
      if: github.ref == 'refs/heads/main'
      run: echo "This is the main branch"
    
    - name: Runs only on the test branch
      if: github.ref == 'refs/heads/test1'
      run: echo "This is the main branch"

    - name: Create a file
      run: echo "created a file in job on" > message.txt
    
    - name: upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: shared-message
        path: message.txt





  second-job:
    needs: test-name-job
    runs-on: ubuntu-latest
    steps:
      - name: Second job output
        run: echo "This is seond job here"
      
      - name: Downlaod artifact
        uses: actions/download-artifact@v4
        with: 
          name: shared-message
      
      - name: Read message
        run: cat message.txt