name: First Action

on:
  push

jobs:
  test-job:
    runs-on: ubuntu-latest
    steps:
      - name: Step 1
        run: echo "Step 1 running"

      - name: Step 2
        run: echo "Step 2 running"

      - name: Step 3
        run: echo "All steps passed"
