name: First Action

on:
  push:
    branches:
      - main
      - test1
  workflow_dispatch:

jobs:
  test-name-job:

    runs-on: ubuntu-latest

    steps:

    - name: Run with custom shell and directory
      run: |
        echo "Shell is bash"
        pwd
      shell: bash
      working-directory: .github

